{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{'page.partner.title'|trans}}{% endblock %}
{% block page_header %}{{'page.partner.page_header'|trans}}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <div class="row">
            <p align="justify">
                <img style="float:left; padding-right:5px;" src="http://welding.com.ua/img/ritmo_logo.jpg" alt="ritmo"> Ritmo (ИТАЛИЯ) – ведущая компания в области технологий сварки и обработки пластиковых труб. Уже многие годы компания производит продукцию высочайшего качества, соответствующего современным национальным и международным стандартам (UNI, ISO, EEC). Позиции компании на мировом рынке укрепляются с каждым годом благодаря высокому качеству продукции и постоянным технологическим инновациям. <a style="color:#008BD2;" href="/ritmo/">Подробнее»</a>
            </p>
            <br>
            <p>
                <img style="float:left; padding-right:5px;" src="http://welding.com.ua/img/csp_baner.jpg" alt="ООО «ЦСП»">
                ООО «ЦСП» является официальным представителем итальянской производственной фирмы Ritmo (Ритмо) и немецкой компании DOHLE (Доле) в Украине. ООО «ЦСП» готов предложить Вам полный спектр оборудования:  машины для стыковой сварки (сварка встык),
                аппараты для электромуфтовой сварки (с помощью фитингов – муфт с закладными нагревательными элементами), аппараты для сварки враструб (раструбная сварка), цеховые стационарные станки для изготовления фитингов, фасонных элементов (отводов, тройников, Y-образных соединений), ленточно отрезные станки для подготовки сегментов для сварки под углом, инструмент для резки и обработки пластиковых труб, ручные экструдеры, аппараты горячего воздуха, сварочные автоматы.
                При помощи данного сварочного оборудования можно сваривать полиэтиленовые трубы и другие изделия из низкого (ПНД) и высокого (ПВД) давления, труб из полипропилена, полибутена (ПБ), поливинилденфторида (ПВДФ) и других материалов. Также предлагаем на Ваш выбор различный инструмент по резке и обработке пластиковых труб: труборезы, ножницы для резки труб, фаскосниматели, скребки для обработки поверхности, позиционеры, подставки для труб, роликовые держатели (ролики), передавливатели и др. <a style="color:#008BD2;" href="/center-plastics/">Подробнее»</a>
            </p>
        </div>
    </div>
    <!-- END CONTAINER -->
{% endblock %}