{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{'page.partner.mempex.title'|trans}}{% endblock %}
{% block page_header %}{{'page.partner.mempex.page_header'|trans}}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <div class="mCSB_container mCS_touch" style="position: relative; top: 0px;"><p align="justify"><img src="http://mempex.by/uploads/1_main/mnb50_2006_PA230092.jpg" alt="Mnb50 2006 PA230092.jpg" style="float: left; margin: 0px 10px 0px 0px;"></p><p align="justify"><strong>ООО "МЕМПЭКС" является пионером внедрения бестраншейных технологий прокладки и ремонта подземных коммуникаций в Республике Беларусь.</strong></p><p align="justify"><span style="color:#ff6634;"><strong>С 1994 года</strong></span> ООО "МЕМПЭКС" успешно осуществляет свою деятельность как строительное, а позже и как <strong>производственное предприятие.</strong><br></p><p><b>Направление деятельности:</b></p><p></p><ul><li style="margin-left:150px;">Производство строительного оборудования для выполнения работ бестраншейным способом.</li><li style="margin-left:150px;">Выполнение строительно-монтажных работ по бестраншейной прокладке и замене трубопроводов.</li></ul><p align="justify"><em>Производством оборудования</em> для строительных работ в сфере бестраншейных технологий МЕМПЭКС занимается с 2001 года.<br>
                Специалистами конструкторского бюро нашего предприятия разработано и внедрено более 70 наименований различных устройств и приспособлений для бестраншейных технологий.</p><p align="justify"><strong>География поставок нашего оборудования:</strong> <em>Беларусь, Россия, Украина, Казахстан, Узбекистан, Азербайджан, Литва, Польша, Эстония.</em></p><p align="justify"><em>Строительно-монтажные работы</em> по прокладке подземных трубопроводов бестраншейным методом МЕМПЭКС выполняет с 1996 года. В общей сложности нашим предприятием выполнено более 20 километров закрытых переходов, заменено более 14 километров трубопроводов.</p><p align="justify">Политика предприятия МЕМПЭКС в сфере качества выполняемых строительно-монтажных работ и при производстве оборудования основывается на требованиях европейских стандартов ISO-9001, которые в настоящее время успешно внедряются в организации.<br><br>
                В нашей республике предприятие МЕМПЭКС является символом безусловной надежности, высокого профессионализма, ответственного отношения к работе даже в мелочах. Мы не боимся сложных задач, с азартом и интересом включаемся в их проработку и находим нестандартные способы их решения. <br><br>
                Специалисты МЕМПЭКС часто привлекаются для консультаций, как в экстренных условиях строительства, так и на этапах проектирования.<br><br>
                Деятельность предприятия МЕМПЭКС высоко оценивается МинАрхСтроем РБ, Союзом строителей, Мингорисполкомом, что выражается в неоднократных наградах этих организаций.</p></div>
    </div>
    <!-- END CONTAINER -->
{% endblock %}