{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{'page.partner.ritmo.title'|trans}}{% endblock %}
{% block page_header %}{{'page.partner.ritmo.page_header'|trans}}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <p class="text" align="justify">RITMO (РИТМО)— ведущая европейская компания в
            области технологий сварки пластмасс. Компания производит сварочное оборудование
            для соединения и инструмент для обработки ПЭ/ПП труб, высочайшего качества,
            соответсвующего современным национальным и международным стандартам (UNI, ISO,
            EEC).
        </p><p class="text" align="justify">Механические сварочные машины для стыковой сварки
            пластиковых труб серий MINI (МИНИ), VR (ВР), MAXI (МАКСИ) позволяют производить
            сварочные работы с пластиковыми трубами различных диаметров. С помощью механической
            системы пружин оператор создает необходимое для сварки давление, отслеживает
            необходимое время. Рекомендуется использовать этот тип машин при сварке труб
            и фитингов в трубопроводах, которые не будут находиться под высоким внутренним
            давлением. Механические сварочные машины особенно подходят для сварки полиэтиленовых
            канализационных и сточных трубопроводов.
        </p><p class="text" align="justify">Электрогидравлические сварочные машины (гидравлический
            привод) для стыковой сварки пластиковых труб серий Delta (Дельта) и Delta Dragon
            (Дельта Драгон) сконструированы в соответствии с национальными и международными
            стандартами и используются для сварки труб и фитингов в промышленных магистральных
            трубопроводах, предназначенных для транспортировки под давлением – воды, газа,
            кислот и т.п.рекомендуется использовать эти машины также для сварки водопроводов
            и газопроводов больших диаметров и трубопроводов, подвергающихся значительным
            механическим нагрузкам.
        </p><p class="text" align="justify">Аппараты для сварки враструб рекомендуются для
            сварки труб и фитингов наружным диаметром до 40 мм, поскольку ручная сварка
            труб больших диаметров весьма проблематична. Однако некоторые модели данного
            оборудования могут при особой необходимости использоваться и для сварки труб
            больших диаметров. Машины с механическим приводом для сварки враструб серии
            PRISMA (ПРИЗМА) рекомендуются для сварки труб и фитингов диаметром более 40
            мм. Благодаря особой конфигурации, машины способны осуществлять безупречную
            центровку соединяемых труб и фитингов, что повышает качество, облегчает и ускоряет
            сварку.
        </p><p class="text" align="justify">Машины серии ALFA (АЛЬФА) используются для работы
            в цехе и предназначены для изготовления специальных фитингов, таких как колена
            (отводы), Y-образные, Т-образные и крестообразные фитинги, при помощи зажимов,
            фиксирующих свариваемые сегменты. Зажимы управляются гидравлической системой,
            которая не только приводит в движение зажимы, но и при необходимости управляет
            их закрытием и открытием.
        </p><p class="text" align="justify">Ленточно-отрезные станки для резки пластмассовых
            труб серии SIGMA (СИГМА) предназначены для работы в цехе. Они специально приспособлены
            для резки труб под углом с последующим использованием сегментов для изготовления
            фитингов при помощи машин серии ALFA.
        </p><p class="text" align="justify">Также мы предлагаем на Ваш выбор различный инструмент
            по резке и обработке пластиковых труб: труборезы, ножницы для резки труб, фаскосниматели,
            скребки для обработки поверхности, позиционеры, подставки для труб, роликовые
            держатели (ролики), передавливатели и др.
        </p><p class="text" align="justify">Всё продаваемое оборудование сертифицировано
            и имеет необходимые разрешительные документы для монтажа водо- и газопроводов
            на территории Украины.
        </p><div class="page_end"></div>
    </div>
    <!-- END CONTAINER -->
{% endblock %}