{% extends 'ApplicationAdminBundle::login.html.twig' %}

{% block title %}{% trans %}page.login.page{% endtrans %}{% endblock %}
{% block page_header %}{% trans %}page.login.page{% endtrans %}{% endblock %}

{% block body %}
<div class="account-container stacked">
    <div class="content clearfix">
        <form action="{{ path('_security_check') }}" method="POST">
            <h1>{% trans %}page.login.page{% endtrans %}</h1>
            {% if error %}
                <div class="alert alert-danger alert-dismissable">{{ error.message }}</div>
            {% endif %}
            <div class="login-fields">
                <p>{% trans %}page.login.message{% endtrans %}:</p>

                <div class="field">
                    <label for="username">{% trans %}page.login.username{% endtrans %}:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{% trans %}page.login.username{% endtrans %}" class="form-control input-lg username-field" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="password">{% trans %}page.login.password{% endtrans %}:</label>
                    <input type="password" id="password" name="_password" value="" placeholder="{% trans %}page.login.password{% endtrans %}" class="form-control input-lg password-field"/>
                </div> <!-- /password -->
            </div> <!-- /login-fields -->

            <div class="login-actions">
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">{% trans %}page.login.remember{% endtrans %}</label>
				</span>
                <button type="submit" name="login" class="login-action btn btn-primary">{% trans %}page.login.button{% endtrans %}</button>
            </div> <!-- .actions -->
        </form>
    </div> <!-- /content -->
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
    {% trans %}page.login.register_text{% endtrans %} <a href="./signup.html">{% trans %}page.login.register_href{% endtrans %}</a><br/>
    {% trans %}page.login.remind_text{% endtrans %} <a href="{{path('restore_password')}}">{% trans %}page.login.remind_href{% endtrans %}</a>
</div> <!-- /login-extra -->
{% endblock %}
