<div class="tab-pane active" id="main">
    {{ form_row(form.firstname, {'attr': {'class': 'input-xxlarge'}}) }}
    {{ form_row(form.lastname, {'attr': {'class': 'input-xxlarge'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'input-xxlarge'}}) }}
    <hr />
    {{ form_row(form.user_password, {'attr': {'class': 'input-xxlarge'}}) }}
</div>
