<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'page.user.tabs.main'|trans }}</a></li>
    <li><a href="#permits" data-toggle="tab">{{ 'page.user.tabs.permits'|trans }}</a></li>
</ul>
