{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}page.service.title{% endblock %}
{% block page_header %}page.service.page_header{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <div class="row">

        </div>
    </div>
    <!-- END CONTAINER -->
{% endblock %}