{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block title %}{% trans %}page.profile{% endtrans %}{% endblock %}
{% block page_header %}{% trans %}page.profile{% endtrans %}{% endblock %}

{% block body %}
    <div class="page-toolbar">
        <div class="pull-right">
            <button class="btn btn-success" data-loading-text="{% trans %}button.saving{% endtrans %}" onclick="return FormHelper.submit($('#edit-form'), {cmd : 'apply'});"><span
                        class="glyphicon glyphicon-chevron-down"></span> {% trans %}
                button.save{% endtrans %}</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <form id="edit-form" class="form-horizontal" action="{{ path('userbundle_admin_profile') }}" method="POST">
        {{ form_widget(form) }}
    </form>
{% endblock %}
