{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block title %}{% trans %}page.profile{% endtrans %}{% endblock %}
{% block page_header %}{% trans %}page.profile{% endtrans %}{% endblock %}

{% block page_controll %}
    <button class="btn btn-success" data-loading-text="{% trans %}button.saving{% endtrans %}" onclick="return FormHelper.submit($('#update-form'), {cmd : 'apply'});"><span class="glyphicon glyphicon-chevron-down"></span> {% trans %}button.apply{% endtrans %}</button>
{% endblock %}

{% block body %}
    <form id="update-form" class="form-horizontal form-bordered form-row-stripped" {{ form_enctype(form) }} novalidate method="POST">
        {{ form_widget(form) }}
    </form>
{% endblock %}
