<div class="tab-pane" id="describtion">
    {{ form_row(form.short_description, {'attr':{'class':'tinymce','rows' : 7}}) }}
    {{ form_row(form.full_description, {'attr':{'class':'tinymce', 'rows' : 15}}) }}
</div>